doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin="anonymous")
    title #{nombrePagina}
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex
      div.container-fluid.justify-content-center
        a(class="navbar-brand" href="/") Home
        a(class='navbar-brand' href="/contactos") Contactos
        a(class='navbar-brand' href="/Menu") Menu
        div.collapse.navbar-collapse
          div.navbar-nav
            p.bienvenida Bienvenido a #{nombrePagina}
    block Head